#container {
    display: grid;
}

#menu {

}

#content {
    grid-column: 2 / 3;
}

.collapsed .expander:after {
    content: '+';
}
.active .expander:after {
    content: '-';
}

.collapsed .menu-team {
    display: none;
}

.spacer {
    padding-left: 20px;
}

.match-ids {
    display: none;
}

.match-data td {
    padding-left: 3px;
}